 /* Style the tab */
div.tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
		margin: 20px 0;
		width: auto;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
		text-decoration: none;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
		text-decoration: none;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
		text-decoration: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}
